* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgba(255,105,0,255);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

body {
    background-color: lightgray;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 55%;
    width: 10rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}



.model {
    height: 100%;
    position: relative;
    
}

.modeltop {
    position: absolute;
    top: 0;
    left: 0;
}

.modeltop:hover {
    opacity: 0;

}

.card {
    position: relative;
    margin-bottom: 3rem;
    height: 400px;
}

.row1 {
    display: flex;
    justify-content: space-around;
    margin: 8rem auto 0;
    max-width: 1000px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin: 3rem auto 0;
    max-width: 1000px;
}

.sales {
    position: absolute;
    color: white;
    background-color: red;

}

.sales, .eco {
    padding: .2rem;
    bottom: 6rem;
    font-size: 0.8rem;
}

.eco {
    position: absolute;
    left: 2.3rem;
    padding: .2rem;
    color: white;
    background-color: green;
}

.heart {
    position: absolute;
    top: 1rem;
    right: 0;
    background-color: white;
    padding: .5rem;
}

.heart:hover {
    color:red;
}

.objectname {
    color: black;
}

.styleobject {
    font-weight: bold;            
}

.price {
    display: inline;
    color: red;
}

.salesprice {
    font-size: 0.9rem;
    text-decoration: line-through;
}


footer {
    display: flex;
    justify-content: space-around ;
    height: 7rem;
    max-width: 100%;
    background-color: black;
}

h2 {
    color: white;
    padding: 1rem;
}

.info a {
    color: white;
    text-decoration: none;
    padding-left: 1rem;
}

.socials a {
    margin: 1rem;
    color: white;
}