* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: rgba(255,105,0,255);
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    height: 55%;
    width: 10rem;
}

nav a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}

body {
    background-color: lightgrey;
               /*solo prova*/
}

.model {
    height: 400px;

}

.row1, .row2 {

    justify-content: space-around;
    display: flex;
    margin: 8rem auto 0;
    max-width: 1100px;
}
    

